// ==================================
// Color Palette
// ==================================
$primary-color: #ccc;
$secondary-color: black;
$tertiary-color: #b1bf92;
$text-color: #fff;
$nav-color: black;
$selection-color: lighten(#b3d4fc, 20);
$link-color: #b1bf92;
$gmap-border-color: #090909;
// ==================================
